/*body {
  font-family: Optima, Candara, Calibri, Arial, sans-serif;
}
code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%;
}*/
/*@font-face {
    font-family: 'FluxischElseLight';
    src: url('fonts/FluxischElseLight.eot');
    src: url('fonts/FluxischElseLight.eot') format('embedded-opentype'),
         url('fonts/FluxischElseLight.woff2') format('woff2'),
         url('fonts/FluxischElseLight.woff') format('woff'),
         url('fonts/FluxischElseLight.ttf') format('truetype'),
         url('fonts/FluxischElseLight.svg#FluxischElseLight') format('svg');
}*/

@font-face {
    font-family: 'FluxischElse';
    src: url('fonts/FluxischElse-Light.woff') format('woff'),
         url('fonts/FluxischElse-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'FluxischElse';
    src: url('fonts/FluxischElse-Regular.woff') format('woff'),
         url('fonts/FluxischElse-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'FluxischElse';
    src: url('fonts/FluxischElse-Bold.woff') format('woff'),
         url('fonts/FluxischElse-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}